/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Global Styles */
/* Top Navigation */
/* Side Navigation */
/* Flot Chart Containers */
/* Custom Colored Panels */
// Variables

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 93.5%);
$gray-lightest: lighten(#000, 97.25%);
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$orange: #f6892b;
$orange-lighter: #fda75c;

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
    margin-top: 100px;
    background-color: $gray-darker;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.page-header {
    border: none;
}


.huge {
    font-size: 50px;
    line-height: normal;
    font-size: 40px;
}

.navbar-brand {
    padding: 0px 15px;
    img {
        height: 50px;
        width: auto;
    }
}

.main-background {
    background: url('../images/mainback1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 990px;
    height: 1000px;
    transition: background 2s;
    color: #fff;
    padding-top: 100px;

    .panel {
        background-color: rgba(0,0,0,.7);
        text-align: justify;
        border-radius: 0;
        border: none;

        &.greeting {
            padding: 25px;

            h1 {
                margin: 0 0 50px 0;
                font-size: 60px;
            }

            p {
                font-size: 18px;
            }   
        }

        &.sign-in-form {
            padding: 20px;
            
            a.resetPassword {
                    color: $orange;
                    cursor: pointer;
                    @extend .noselect;
            }
        }

        &.registration-form {
            padding: 20px;
        }

        &.btn-group-sm>.btn, .btn-sm {
            border-radius: 0;
        }
    }
}



.qrate-background {
    background-color: $gray-lighter;
    color: $gray-dark;
    border-radius: 0;
        .page-header {
            text-align: center;
            color: red;
        }
        .panel {
            background-color: #ccc;
            border-radius: inherit;
            .instructions {
                width: 80%;
                margin: 20px 10%;
                color: $gray-dark;
                text-align: center;
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
            }
            .profileSlider {
                background-color: #ededed;
                height: 600px;
                width: 100%;
                border-radius: inherit;
                text-align: center;
                @extend .noselect;
                overflow: hidden;

                img {
                    margin: 30px;
                    width: 300px;
                    height: 300px;
                }

                .upvoteButton, .downvoteButton, .previousButton, .nextButton {
                    font-size: 40px;
                    cursor: pointer;
                    color: #bbb;
                }

                .upvoteButton, .downvoteButton {

                }

                .previousButton, .nextButton {
                    margin-top: 200px;
                }

                .previousButton {
                    float: right;
                }

                .nextButton {
                    float: left;
                }
            }
        }
}


.carousel {
    height: 700px;

    .carousel-control {
        background-color: $orange;
        background-image: none;
        opacity: 1;

        &:hover {
            text-shadow: 2px 2px 20px rgba(255, 255, 255, 1);
        }
    }

    .carousel-inner {

        .item {
            color: #fff;

            .voting-bar {
                position: absolute;
                top: 0;
                width: 100%;
                text-align: center;
                @extend .noselect;

                .upvoteButton, .downvoteButton {
                    text-shadow: 3px 3px 5px rgba(0, 0, 0, .8);
                    font-size: 60px;
                    cursor: pointer;

                    &:hover {
                        text-shadow: 3px 3px 5px rgba(255, 255, 255, .3);
                    }

                    &:active {
                        text-shadow: 1px 1px 10px rgba(255, 255, 255, .6);
                    }
                }

                .upvoteButton {
                    color: green;
                }

                .downvoteButton {
                    color: red;
                }
            }

            .carousel-caption {
                
                h3 {
                    
                }

                p {
                    text-align: justify;
                }

                .soundcloud-player {
                    width: 100%;
                    height: 166px;
                }
            }

        }

        & > .item img, & > .item > a > img {
            width: 70%;
            margin: auto;
            height: 700px;
        }
    }

}

.form-control {
    border-radius: 0;
}

.feed-background {
    background-color: #ededed;
    height: auto;
    color: $gray-dark;

    .glyphicon {
        cursor: pointer;
    }

    .nav-tabs {
        li {
            &:hover {
                cursor: pointer;
            }

            a {
                border-radius: none;
                color: $gray-dark;
            }
        }
    }

    .panel {
        padding: 30px 20px;
        border-radius: 0;

        .panel-header {
            text-align: center;
            margin: 20px 0px;
            border-bottom: 1px dashed $gray-dark;
        }

        .profile-card {
            position: relative;
            display: block;
            margin: 20px 0;
            padding: 40px 0;
            @extend .noselect;
            border: 1px dashed $gray-light;

            .profile-photo {
                float: left;
                img {
                    width: 100%;
                    height: auto;
                    border: 1px solid #ededed;
                }
                .infoPanel {
                    width: 100%;
                    height: 100px;

                    .rank {
                        float: right;
                        width: 50%;
                        height: 100px;
                        font-size: 60px;
                        font-weight: bold;
                        text-align: right;
                    }

                    .votingControls {
                        float: left;
                        width: 50%;
                        height: 100px;
                        text-align: center;

                        .upvoteButton {
                            // color: green;
                            color: #f38938;
                            font-size: 35px;
                        }

                        .downvoteButton {
                            // color: red;
                            color: #f38938;
                            font-size: 35px;
                        }
                    }
                }
            }


            .profile-name {
                h2 {
                    font-size: 60px;
                    margin: 10px 0 20px 0;
                }
            }

            .profile-description {
                font-size: .8em;
            }

            .youtube-links, .soundcloud-links {
                margin: 5px 5px 5px 0px;
                ul {
                    display: inline-block;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline;
                        margin: 0px 3px;
                    }
                }
            }

            &.animate-enter, 
            &.animate-leave { 
                -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
                -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
                -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
                -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
                transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
                position: relative;
                display: block;
            } 
             
            &.animate-leave.animate-leave-active,
            &.animate-enter {
                -webkit-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
                -moz-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
                -ms-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
                -o-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
                transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
                opacity: 0;
                height: 0px;
            }        
             
            &.animate-enter.animate-enter-active,
            &.animate-leave {
                -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                opacity: 1;
                height: auto;
            }
        }
    }
}

.battle-background {
    background-color: $gray-lighter;
    color: $gray-dark;

    .panel {
        margin: 30px;
        padding: 20px;
        height: 700px;

        .battleInfo {
            width: 100%;
            background-color: $orange;
            padding: 20px;
            height: auto;

            h1 {
                text-align: center;
                font-weight: bold;
                color: white;
            }
        }

        .hostSide, .awaySide {
            display: block;
            width: 49%;
            height: auto;
            text-align: center;

            h1 {
                color: $gray-dark;

                .pointsCounter {
                    color: green;
                    -webkit-animation: 0.5s pointWon;
                    animation: 0.5s pointWon;
                }

                @keyframes pointWon {
                    0% {
                        opacity: 0;
                    }

                    25% {
                        opacity: 1;
                    }

                    50% {
                        opacity: 0;
                    }

                    75% {
                        opacity: 1;
                    }
                }

                @-webkit-keyframes pointWon {
                    0% {
                        opacity: 0;
                    }

                    25% {
                        opacity: 1;
                    }

                    50% {
                        opacity: 0;
                    }

                    75% {
                        opacity: 1;
                    }
                }
            }

            .profileCard {
                margin: 0 auto;
                width: 400px;
                height: auto;
                background-color: $orange;
                cursor: pointer;
                text-align: center;
                font-size: 12px;
                color: $gray-dark;
                padding: 20px;

                .voting {
                    margin: 20px;

                    .btn-primary {
                        background-color: white;
                        border-radius: 0;
                        border: 1px solid $orange;
                        color: $orange;

                        &:active, &:focus {
                            background-color: $orange;
                            border: 1px solid white;
                            color: white;
                            outline: 0;
                        }
                    }
                }

                img {
                    width: 100%;
                    height: 250px;
                }

                &:hover {
                    background-color: $orange-lighter;
                }

                &.ng-winner-flicker {
                    -webkit-animation:0.5s winner-flicker;
                    animation:0.5s winner-flicker;
                }

                @keyframes winner-flicker {
                    0% {
                        background-color: $orange;
                    }

                    15% {
                        background-color: $orange-lighter;   
                    }

                    30% {
                        background-color: $orange;
                    }

                    45% {
                        background-color: $orange-lighter;
                    }

                    60% {
                        background-color: $orange;
                    }

                    75% {
                        background-color: $orange-lighter;
                    }

                    100% {
                        background-color: $orange;
                    }
                }

                @-webkit-keyframes winner-flicker {
                    0% {
                        background-color: $orange;
                    }

                    15% {
                        background-color: $orange-lighter;   
                    }

                    30% {
                        background-color: $orange;
                    }

                    45% {
                        background-color: $orange-lighter;
                    }

                    60% {
                        background-color: $orange;
                    }

                    75% {
                        background-color: $orange-lighter;
                    }

                    100% {
                        background-color: $orange;
                    }
                }
            }

            &.ng-hide {
                opacity: 0;
                -ms-transform: rotate(720deg); /* IE 9 */
                -webkit-transform: rotate(720deg); /* Chrome, Safari, Opera */
                transform: rotate(720deg);
            }

            &.ng-enter, &.ng-leave {
                -webkit-transition: .5s ease-out all;
                -moz-transition: .5s ease-out all;
                -ms-transition: .5s ease-out all;
                -o-transition: .5s ease-out all;
                transition: .5s ease-out all;
            }
            /* start of enter state */
            &.ng-enter {
                position: absolute;
                left: -100%;
                opacity: 0;
                transform: rotate(-720deg);
            }
            /* end of enter state */
            &.ng-enter.ng-enter-active {
                left: 0;
                opacity:1;
                transform: rotate(720deg);
            }
            /* start of leave state */
            &.ng-leave {
                left: 0;
                opacity:1;
            }
            /* end of leave state */
            &.ng-leave.ng-leave-active {
                left: 0;
                opacity: 0;
                transform: scale(.5);
            }


        }

        .awaySide {
            display: block;
            width: 49%;
            height: auto;
            text-align: center;

            &.ng-hide {
                opacity: 0;
                -ms-transform: rotate(720deg); /* IE 9 */
                -webkit-transform: rotate(720deg); /* Chrome, Safari, Opera */
                transform: rotate(720deg);
            }

            &.ng-enter, &.ng-leave {
                -webkit-transition: .5s ease-out all;
                -moz-transition: .5s ease-out all;
                -ms-transition: .5s ease-out all;
                -o-transition: .5s ease-out all;
                transition: .5s ease-out all;
            }
            /* du début de l'entrée */
            &.ng-enter {
                position: absolute;
                left: 100%;
                opacity: 0;
                transform: rotate(720deg);
            }
            /* à la fin de l'entrée */
            &.ng-enter.ng-enter-active {
                left: 50%;
                opacity:1;
                transform: rotate(-720deg);
            }
            /* du début de la sortie */
            &.ng-leave {
                opacity:1;
            }
            /* à la fin de la sortie */
            &.ng-leave.ng-leave-active {
                opacity: 0;
                transform: scale(.5);
            }
        }

        .versusDivider {
            width: 2%;
            margin: 0 auto;
            height: 450px;
            padding: 200px 0 0 0;

            p.versusText {
                color: white;
                background-color: white;
                text-align: center;
                font-size: 30px;
                font-weight: bold;

                &.versusShown {
                    color: $orange;
                    background-color: white;    
                }
            }
        }

        .battleFooter {
            margin: 20px 0;
            padding: 20px 0;
            height: auto;
            text-align: center;
            width: 100%;
            background-color: $orange;
            color: white;
        }
    }
}

.top-nav {
    padding: 0 15px;
    >li {
        display: inline-block;
        float: left;
        >a {
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 20px;
            color: #fff;
            &:hover {
                color: $orange;
                background-color: $gray-dark;
            }
            &:focus {
                color: #fff;
                background-color: $gray-dark;
            }
        }
    }
    >.open {
        >a {
            color: #fff;
            background-color: $gray-dark;
            &:hover {
                color: #fff;
                background-color: $gray-dark;
            }
            &:focus {
                color: #fff;
                background-color: $gray-dark;
            }
        }
        >.dropdown-menu {
            float: left;
            position: absolute;
            margin-top: 0;
            border: 1px solid rgba(0,0,0,.15);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-color: #fff;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
            >li {
                >a {
                    white-space: normal;
                }
            }
        }
    }
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    >a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
li.message-footer {
    margin: 5px 0;
}
ul.alert-dropdown {
    width: 200px;
}
.side-nav {
    >li {
        >ul {
            padding: 0;
            >li {
                >a {
                    display: block;
                    padding: 10px 15px 10px 38px;
                    text-decoration: none;
                    color: #999;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}
.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
.panel-green {
    border-color: #5cb85c;
    >.panel-heading {
        border-color: #5cb85c;
        color: #fff;
        background-color: #5cb85c;
    }
    >a {
        color: #5cb85c;
        &:hover {
            color: #3d8b3d;
        }
    }
}
.panel-red {
    border-color: #d9534f;
    >.panel-heading {
        border-color: #d9534f;
        color: #fff;
        background-color: #d9534f;
    }
    >a {
        color: #d9534f;
        &:hover {
            color: #b52b27;
        }
    }
}
.panel-yellow {
    border-color: #f0ad4e;
    >.panel-heading {
        border-color: #f0ad4e;
        color: #fff;
        background-color: #f0ad4e;
    }
    >a {
        color: #f0ad4e;
        &:hover {
            color: #df8a13;
        }
    }
}

@media screen and (min-width:768px) {
    body {
        margin-top: 50px;
    }
    #wrapper {
        padding-left: 225px;
    }
    #page-wrapper {
        padding: 10px;
    }
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: $gray-darker;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        >li {
            >a {
                width: 225px;
            }
        }
        li {
            a {
                &:hover {
                    outline: none;
                    background-color: $gray-lighter !important;
                }
                &:focus {
                    outline: none;
                    background-color: $gray-lighter !important;
                }
            }
        }
    }
}
