@charset "UTF-8";
/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Global Styles */
/* Top Navigation */
/* Side Navigation */
/* Flot Chart Containers */
/* Custom Colored Panels */
.noselect, .main-background .panel.sign-in-form a.resetPassword, .qrate-background .panel .profileSlider, .carousel .carousel-inner .item .voting-bar, .feed-background .panel .profile-card {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */ }

body {
  margin-top: 100px;
  background-color: #222222; }

#wrapper {
  padding-left: 0; }

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff; }

.page-header {
  border: none; }

.huge {
  font-size: 50px;
  line-height: normal;
  font-size: 40px; }

.navbar-brand {
  padding: 0px 15px; }
  .navbar-brand img {
    height: 50px;
    width: auto; }

.main-background {
  background: url("../images/mainback1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1600px 990px;
  height: 1000px;
  transition: background 2s;
  color: #fff;
  padding-top: 100px; }
  .main-background .panel {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: justify;
    border-radius: 0;
    border: none; }
    .main-background .panel.greeting {
      padding: 25px; }
      .main-background .panel.greeting h1 {
        margin: 0 0 50px 0;
        font-size: 60px; }
      .main-background .panel.greeting p {
        font-size: 18px; }
    .main-background .panel.sign-in-form {
      padding: 20px; }
      .main-background .panel.sign-in-form a.resetPassword {
        color: #f6892b;
        cursor: pointer; }
    .main-background .panel.registration-form {
      padding: 20px; }
    .main-background .panel.btn-group-sm > .btn, .main-background .panel .btn-sm {
      border-radius: 0; }

.qrate-background {
  background-color: #eeeeee;
  color: #333333;
  border-radius: 0; }
  .qrate-background .page-header {
    text-align: center;
    color: red; }
  .qrate-background .panel {
    background-color: #ccc;
    border-radius: inherit; }
    .qrate-background .panel .instructions {
      width: 80%;
      margin: 20px 10%;
      color: #333333;
      text-align: center; }
      .qrate-background .panel .instructions ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
    .qrate-background .panel .profileSlider {
      background-color: #ededed;
      height: 600px;
      width: 100%;
      border-radius: inherit;
      text-align: center;
      overflow: hidden; }
      .qrate-background .panel .profileSlider img {
        margin: 30px;
        width: 300px;
        height: 300px; }
      .qrate-background .panel .profileSlider .upvoteButton, .qrate-background .panel .profileSlider .downvoteButton, .qrate-background .panel .profileSlider .previousButton, .qrate-background .panel .profileSlider .nextButton {
        font-size: 40px;
        cursor: pointer;
        color: #bbb; }
      .qrate-background .panel .profileSlider .previousButton, .qrate-background .panel .profileSlider .nextButton {
        margin-top: 200px; }
      .qrate-background .panel .profileSlider .previousButton {
        float: right; }
      .qrate-background .panel .profileSlider .nextButton {
        float: left; }

.carousel {
  height: 700px; }
  .carousel .carousel-control {
    background-color: #f6892b;
    background-image: none;
    opacity: 1; }
    .carousel .carousel-control:hover {
      text-shadow: 2px 2px 20px white; }
  .carousel .carousel-inner .item {
    color: #fff; }
    .carousel .carousel-inner .item .voting-bar {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center; }
      .carousel .carousel-inner .item .voting-bar .upvoteButton, .carousel .carousel-inner .item .voting-bar .downvoteButton {
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
        font-size: 60px;
        cursor: pointer; }
        .carousel .carousel-inner .item .voting-bar .upvoteButton:hover, .carousel .carousel-inner .item .voting-bar .downvoteButton:hover {
          text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3); }
        .carousel .carousel-inner .item .voting-bar .upvoteButton:active, .carousel .carousel-inner .item .voting-bar .downvoteButton:active {
          text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6); }
      .carousel .carousel-inner .item .voting-bar .upvoteButton {
        color: green; }
      .carousel .carousel-inner .item .voting-bar .downvoteButton {
        color: red; }
    .carousel .carousel-inner .item .carousel-caption p {
      text-align: justify; }
    .carousel .carousel-inner .item .carousel-caption .soundcloud-player {
      width: 100%;
      height: 166px; }
  .carousel .carousel-inner > .item img, .carousel .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    height: 700px; }

.form-control {
  border-radius: 0; }

.feed-background {
  background-color: #ededed;
  height: auto;
  color: #333333; }
  .feed-background .glyphicon {
    cursor: pointer; }
  .feed-background .nav-tabs li:hover {
    cursor: pointer; }
  .feed-background .nav-tabs li a {
    border-radius: none;
    color: #333333; }
  .feed-background .panel {
    padding: 30px 20px;
    border-radius: 0; }
    .feed-background .panel .panel-header {
      text-align: center;
      margin: 20px 0px;
      border-bottom: 1px dashed #333333; }
    .feed-background .panel .profile-card {
      position: relative;
      display: block;
      margin: 20px 0;
      padding: 40px 0;
      border: 1px dashed #999999; }
      .feed-background .panel .profile-card .profile-photo {
        float: left; }
        .feed-background .panel .profile-card .profile-photo img {
          width: 100%;
          height: auto;
          border: 1px solid #ededed; }
        .feed-background .panel .profile-card .profile-photo .infoPanel {
          width: 100%;
          height: 100px; }
          .feed-background .panel .profile-card .profile-photo .infoPanel .rank {
            float: right;
            width: 50%;
            height: 100px;
            font-size: 60px;
            font-weight: bold;
            text-align: right; }
          .feed-background .panel .profile-card .profile-photo .infoPanel .votingControls {
            float: left;
            width: 50%;
            height: 100px;
            text-align: center; }
            .feed-background .panel .profile-card .profile-photo .infoPanel .votingControls .upvoteButton {
              color: #f38938;
              font-size: 35px; }
            .feed-background .panel .profile-card .profile-photo .infoPanel .votingControls .downvoteButton {
              color: #f38938;
              font-size: 35px; }
      .feed-background .panel .profile-card .profile-name h2 {
        font-size: 60px;
        margin: 10px 0 20px 0; }
      .feed-background .panel .profile-card .profile-description {
        font-size: .8em; }
      .feed-background .panel .profile-card .youtube-links, .feed-background .panel .profile-card .soundcloud-links {
        margin: 5px 5px 5px 0px; }
        .feed-background .panel .profile-card .youtube-links ul, .feed-background .panel .profile-card .soundcloud-links ul {
          display: inline-block;
          list-style-type: none;
          margin: 0;
          padding: 0; }
          .feed-background .panel .profile-card .youtube-links ul li, .feed-background .panel .profile-card .soundcloud-links ul li {
            display: inline;
            margin: 0px 3px; }
      .feed-background .panel .profile-card.animate-enter, .feed-background .panel .profile-card.animate-leave {
        -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
        -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
        -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
        -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
        transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
        position: relative;
        display: block; }
      .feed-background .panel .profile-card.animate-leave.animate-leave-active, .feed-background .panel .profile-card.animate-enter {
        -webkit-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
        -moz-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
        -ms-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
        -o-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
        transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
        opacity: 0;
        height: 0px; }
      .feed-background .panel .profile-card.animate-enter.animate-enter-active, .feed-background .panel .profile-card.animate-leave {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        opacity: 1;
        height: auto; }

.battle-background {
  background-color: #eeeeee;
  color: #333333; }
  .battle-background .panel {
    margin: 30px;
    padding: 20px;
    height: 700px; }
    .battle-background .panel .battleInfo {
      width: 100%;
      background-color: #f6892b;
      padding: 20px;
      height: auto; }
      .battle-background .panel .battleInfo h1 {
        text-align: center;
        font-weight: bold;
        color: white; }
    .battle-background .panel .hostSide, .battle-background .panel .awaySide {
      display: block;
      width: 49%;
      height: auto;
      text-align: center;
      /* start of enter state */
      /* end of enter state */
      /* start of leave state */
      /* end of leave state */ }
      .battle-background .panel .hostSide h1, .battle-background .panel .awaySide h1 {
        color: #333333; }
        .battle-background .panel .hostSide h1 .pointsCounter, .battle-background .panel .awaySide h1 .pointsCounter {
          color: green;
          -webkit-animation: 0.5s pointWon;
          animation: 0.5s pointWon; }
@keyframes pointWon {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; } }
@-webkit-keyframes pointWon {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; } }
      .battle-background .panel .hostSide .profileCard, .battle-background .panel .awaySide .profileCard {
        margin: 0 auto;
        width: 400px;
        height: auto;
        background-color: #f6892b;
        cursor: pointer;
        text-align: center;
        font-size: 12px;
        color: #333333;
        padding: 20px; }
        .battle-background .panel .hostSide .profileCard .voting, .battle-background .panel .awaySide .profileCard .voting {
          margin: 20px; }
          .battle-background .panel .hostSide .profileCard .voting .btn-primary, .battle-background .panel .awaySide .profileCard .voting .btn-primary {
            background-color: white;
            border-radius: 0;
            border: 1px solid #f6892b;
            color: #f6892b; }
            .battle-background .panel .hostSide .profileCard .voting .btn-primary:active, .battle-background .panel .hostSide .profileCard .voting .btn-primary:focus, .battle-background .panel .awaySide .profileCard .voting .btn-primary:active, .battle-background .panel .awaySide .profileCard .voting .btn-primary:focus {
              background-color: #f6892b;
              border: 1px solid white;
              color: white;
              outline: 0; }
        .battle-background .panel .hostSide .profileCard img, .battle-background .panel .awaySide .profileCard img {
          width: 100%;
          height: 250px; }
        .battle-background .panel .hostSide .profileCard:hover, .battle-background .panel .awaySide .profileCard:hover {
          background-color: #fda75c; }
        .battle-background .panel .hostSide .profileCard.ng-winner-flicker, .battle-background .panel .awaySide .profileCard.ng-winner-flicker {
          -webkit-animation: 0.5s winner-flicker;
          animation: 0.5s winner-flicker; }
@keyframes winner-flicker {
  0% {
    background-color: #f6892b; }
  15% {
    background-color: #fda75c; }
  30% {
    background-color: #f6892b; }
  45% {
    background-color: #fda75c; }
  60% {
    background-color: #f6892b; }
  75% {
    background-color: #fda75c; }
  100% {
    background-color: #f6892b; } }
@-webkit-keyframes winner-flicker {
  0% {
    background-color: #f6892b; }
  15% {
    background-color: #fda75c; }
  30% {
    background-color: #f6892b; }
  45% {
    background-color: #fda75c; }
  60% {
    background-color: #f6892b; }
  75% {
    background-color: #fda75c; }
  100% {
    background-color: #f6892b; } }
      .battle-background .panel .hostSide.ng-hide, .battle-background .panel .awaySide.ng-hide {
        opacity: 0;
        -ms-transform: rotate(720deg);
        /* IE 9 */
        -webkit-transform: rotate(720deg);
        /* Chrome, Safari, Opera */
        transform: rotate(720deg); }
      .battle-background .panel .hostSide.ng-enter, .battle-background .panel .hostSide.ng-leave, .battle-background .panel .awaySide.ng-enter, .battle-background .panel .awaySide.ng-leave {
        -webkit-transition: .5s ease-out all;
        -moz-transition: .5s ease-out all;
        -ms-transition: .5s ease-out all;
        -o-transition: .5s ease-out all;
        transition: .5s ease-out all; }
      .battle-background .panel .hostSide.ng-enter, .battle-background .panel .awaySide.ng-enter {
        position: absolute;
        left: -100%;
        opacity: 0;
        transform: rotate(-720deg); }
      .battle-background .panel .hostSide.ng-enter.ng-enter-active, .battle-background .panel .awaySide.ng-enter.ng-enter-active {
        left: 0;
        opacity: 1;
        transform: rotate(720deg); }
      .battle-background .panel .hostSide.ng-leave, .battle-background .panel .awaySide.ng-leave {
        left: 0;
        opacity: 1; }
      .battle-background .panel .hostSide.ng-leave.ng-leave-active, .battle-background .panel .awaySide.ng-leave.ng-leave-active {
        left: 0;
        opacity: 0;
        transform: scale(0.5); }
    .battle-background .panel .awaySide {
      display: block;
      width: 49%;
      height: auto;
      text-align: center;
      /* du début de l'entrée */
      /* à la fin de l'entrée */
      /* du début de la sortie */
      /* à la fin de la sortie */ }
      .battle-background .panel .awaySide.ng-hide {
        opacity: 0;
        -ms-transform: rotate(720deg);
        /* IE 9 */
        -webkit-transform: rotate(720deg);
        /* Chrome, Safari, Opera */
        transform: rotate(720deg); }
      .battle-background .panel .awaySide.ng-enter, .battle-background .panel .awaySide.ng-leave {
        -webkit-transition: .5s ease-out all;
        -moz-transition: .5s ease-out all;
        -ms-transition: .5s ease-out all;
        -o-transition: .5s ease-out all;
        transition: .5s ease-out all; }
      .battle-background .panel .awaySide.ng-enter {
        position: absolute;
        left: 100%;
        opacity: 0;
        transform: rotate(720deg); }
      .battle-background .panel .awaySide.ng-enter.ng-enter-active {
        left: 50%;
        opacity: 1;
        transform: rotate(-720deg); }
      .battle-background .panel .awaySide.ng-leave {
        opacity: 1; }
      .battle-background .panel .awaySide.ng-leave.ng-leave-active {
        opacity: 0;
        transform: scale(0.5); }
    .battle-background .panel .versusDivider {
      width: 2%;
      margin: 0 auto;
      height: 450px;
      padding: 200px 0 0 0; }
      .battle-background .panel .versusDivider p.versusText {
        color: white;
        background-color: white;
        text-align: center;
        font-size: 30px;
        font-weight: bold; }
        .battle-background .panel .versusDivider p.versusText.versusShown {
          color: #f6892b;
          background-color: white; }
    .battle-background .panel .battleFooter {
      margin: 20px 0;
      padding: 20px 0;
      height: auto;
      text-align: center;
      width: 100%;
      background-color: #f6892b;
      color: white; }

.top-nav {
  padding: 0 15px; }
  .top-nav > li {
    display: inline-block;
    float: left; }
    .top-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 20px;
      color: #fff; }
      .top-nav > li > a:hover {
        color: #f6892b;
        background-color: #333333; }
      .top-nav > li > a:focus {
        color: #fff;
        background-color: #333333; }
  .top-nav > .open > a {
    color: #fff;
    background-color: #333333; }
    .top-nav > .open > a:hover {
      color: #fff;
      background-color: #333333; }
    .top-nav > .open > a:focus {
      color: #fff;
      background-color: #333333; }
  .top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
    .top-nav > .open > .dropdown-menu > li > a {
      white-space: normal; }

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto; }

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px; }

li.message-footer {
  margin: 5px 0; }

ul.alert-dropdown {
  width: 200px; }

.side-nav > li > ul {
  padding: 0; }
  .side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999; }
    .side-nav > li > ul > li > a:hover {
      color: #fff; }

.flot-chart {
  display: block;
  height: 400px; }

.flot-chart-content {
  width: 100%;
  height: 100%; }

.panel-green {
  border-color: #5cb85c; }
  .panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c; }
  .panel-green > a {
    color: #5cb85c; }
    .panel-green > a:hover {
      color: #3d8b3d; }

.panel-red {
  border-color: #d9534f; }
  .panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f; }
  .panel-red > a {
    color: #d9534f; }
    .panel-red > a:hover {
      color: #b52b27; }

.panel-yellow {
  border-color: #f0ad4e; }
  .panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e; }
  .panel-yellow > a {
    color: #f0ad4e; }
    .panel-yellow > a:hover {
      color: #df8a13; }

@media screen and (min-width: 768px) {
  body {
    margin-top: 50px; }

  #wrapper {
    padding-left: 225px; }

  #page-wrapper {
    padding: 10px; }

  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px; }
    .side-nav > li > a {
      width: 225px; }
    .side-nav li a:hover {
      outline: none;
      background-color: #eeeeee !important; }
    .side-nav li a:focus {
      outline: none;
      background-color: #eeeeee !important; } }

/*# sourceMappingURL=main.css.map */
