<div class="row">
    <div class="col-lg-12 battle-background">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-lg-12 battleInfo">
                    <h1>Who do you prefer?</h1>
                </div>
            </div>
            <div class="row">
                <div ng-if="battleInProgress" class="col-lg-5 hostSide">
                    <h1>{{ matches[currentMatch].host.name }} <span ng-if="battleHostWinner" ng-class="{'glyphicon':true, 'glyphicon-circle-arrow-up':true, 'pointsCounter':battleHostWinner}"></span></h1>
                    <div ng-class="{'profileCard':true, 'ng-winner-flicker':battleHostWinner}">
                        <img src="{{ matches[currentMatch].host.photo }}" alt="{{ matches[currentMatch].host.name }}"/>
                        <div class="voting">
                            <button class="btn btn-primary btn-lg btnHost" ng-click="awardBattlePoints(0)">Vote for {{ matches[currentMatch].host.name }}</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 versusDivider">
                    <p ng-class="{'versusText':true, 'winnerOn':versusWinner, 'versusShown': versusShown}">OR</p>
                </div>
                <div ng-if="battleInProgress" class="col-lg-5 awaySide">
                    <h1>{{ matches[currentMatch].away.name }} <span ng-if="battleAwayWinner" ng-class="{'glyphicon':true, 'glyphicon-circle-arrow-up':true, 'pointsCounter':battleAwayWinner}"></span></h1>
                    <div ng-class="{'profileCard':true, 'ng-winner-flicker':battleAwayWinner}">
                        <img src="{{ matches[currentMatch].away.photo }}" alt="{{ matches[currentMatch].away.name }}"/>
                        <div class="voting">
                            <button class="btn btn-primary btn-lg btnAway" ng-click="awardBattlePoints(1)">Vote for {{ matches[currentMatch].away.name }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 battleFooter">
                    <p>Choose the artist you prefer, or dislike less, even if you dislike both.</p>
                </div>
            </div>
        </div>
    </div>
</div>