<div class="row">
  <div class="col-lg-12 feed-background">
    <h1 class="page-header">
        Welcome back {{ user.email }}!
    </h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h2>Artists Ranking</h2>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li><a ng-click="refresh('artists','rising')">Rising</a></li>
                  <li><a ng-click="refresh('artists','controversy')">Controversial</a></li>
                  <li><a ng-click="refresh('artists','upvotes')">Top</a></li>
                  <li><a ng-click="refresh('artists','downvotes')" >Rock bottom</a></li>
                  <li><a ng-click="refresh('artists','battlePoints')" >Battles</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active">
                    <div class="row panel profile-card" ng-repeat="profile in profiles | orderBy: filters.artists | reverse">
                        <div class="col-lg-4 profile-photo">
                            <div class="infoPanel">
                                <div class="votingControls">
                                    <a ng-click="upvoteProfile(profile)"><span class="glyphicon upvoteButton glyphicon-chevron-up">&nbsp;</span></a><br />
                                    <a ng-click="downvoteProfile(profile)"><span class="glyphicon downvoteButton glyphicon-chevron-down">&nbsp;</span></span></a>
                                </div>
                                <div class="rank">
                                    {{ $index + 1 }}.
                                </div>
                            </div>
                            <img src="{{ profile.photo }}" alt="{{ profile.photo }}" /><br />
                            <div class="profile-name">
                                Up: {{ profile.upvotes }} | Down: {{ profile.downvotes }}<br />Battle points: {{ profile.battlePoints }}
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="profile-name"><h2>{{ profile.name }}</h2></div>
                            <div class="profile-description">{{ profile.description }}</div>
                            <div class="youtube-links">
                                Youtube links:
                                <ul>
                                    <li ng-repeat="link in profile.youtubeLinks"><a href="{{ link.link }}">{{ link.name }}</a></li>
                                </ul>
                            </div>
                            <div class="soundcloud-links">
                                Soundcloud links:
                                <ul>
                                    <li ng-repeat="link in profile.soundcloudLinks"><a ng-click="openModal('lg')">{{ link.name }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h2>Fans Ranking</h2>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li><a ng-click="refresh('fans','rising')">Rising</a></li>
                  <li><a ng-click="refresh('fans','controversy')">Controversial</a></li>
                  <li><a ng-click="refresh('fans','upvotes')">Top</a></li>
                  <li><a ng-click="refresh('fans','downvotes')">Rock bottom</a></li>
                  <li><a ng-click="refresh('fans','battlePoints')">Battles</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active">
                    <div class="row panel profile-card" ng-repeat="profile in fans | orderBy: filters.fans | reverse">
                        <div class="col-lg-4 profile-photo">
                            <div class="infoPanel">
                                <div class="votingControls">
                                    <a ng-click="upvoteFan(profile)"><span class="glyphicon upvoteButton glyphicon-chevron-up">&nbsp;</span></a><br />
                                    <a ng-click="downvoteFan(profile)"><span class="glyphicon downvoteButton glyphicon-chevron-down">&nbsp;</span></span></a>
                                </div>
                                <div class="rank">
                                    {{ $index + 1 }}.
                                </div>
                            </div>
                            <img src="{{ profile.photo }}" alt="{{ profile.photo }}" /><br />
                            <div class="profile-name">
                                Up: {{ profile.upvotes }} | Down: {{ profile.downvotes }}<br />Battle points: {{ profile.battlePoints }}
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="profile-name"><h2>{{ profile.name }}</h2></div>
                            <div class="profile-description">{{ profile.description }}</div>
                            <div class="youtube-links">
                                Youtube links:
                                <ul>
                                    <li ng-repeat="link in profile.youtubeLinks"><a href="{{ link.link }}">{{ link.name }}</a></li>
                                </ul>
                            </div>
                            <div class="soundcloud-links">
                                Soundcloud links:
                                <ul>
                                    <li ng-repeat="link in profile.soundcloudLinks"><a href="{{ link.link }}">{{ link.name }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>