<div class="row">
  <div class="col-lg-12 main-background">
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-{{ infoType }}" ng-show="showMessage">
           <button type="button" class="close" ng-click="messageToggle()" >×</button>
           <strong>{{ infoMessage }}</strong>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-1">
        <div class="panel panel-default greeting">
          <h1>Welcome to Qrato.rs</h1>
          <p>Let the quality resurface!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row" ng-hide="$parent.user.email">
          <div class="col-lg-12 sign-in-form">
            <div class="panel panel-default sign-in-form">
              <form ng-submit="handleSignInBtnClick()" role="form" ng-init="loginForm">
                <div class="form-group">
                  <input type="email" name="email" placeholder="email" ng-model="loginForm.email" required="required" class="form-control input-sm"/>
                </div>

                <div class="form-group">
                  <input type="password" name="password" placeholder="password" ng-model="loginForm.password" required="required" class="form-control input-sm"/>
                </div>

                <button type="submit" class="btn btn-default btn-sm">Sign in</button>
              </form>
              <br />
              <a class="resetPassword" ng-click="handleForgotPasswordLink()">Forgot password?</a>
              <div ng-show="displayPasswordResetForm"><br />
                <form ng-submit="sendPasswordReset(passwordResetForm)" role="form">
                  <div class="form-group">
                    <input type="email" placeholder="enter your email" name="resetPasswordEmail" ng-model="passwordResetForm.email" required="required" class="form-control input-sm"/>
                  </div>
                  <input type="submit" class="btn btn-default btn-sm" value="Request new password">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-hide="$parent.user.email">
          <div class="col-lg-12 registration-form">
            <div class="panel panel-default registration-form">
              <form ng-submit="handleRegisterBtnClick()" role="form" ng-init="registrationForm">
                <div class="form-group">
                  <input type="email" name="email" placeholder="email" ng-model="registrationForm.email" required="required" class="form-control input-sm"/>
                </div>

                <div class="form-group">
                  <input type="password" name="password" placeholder="password" ng-model="registrationForm.password" required="required" class="form-control input-sm"/>
                </div>

                <div class="form-group">
                  <input type="password" name="password_confirmation" placeholder="password confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control input-sm"/>
                </div>

                <button type="submit" class="btn btn-default btn-sm">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>