<div class="row">
    <div class="col-lg-12 qrate-background">
        <div class="panel panel-default">
            <!-- <div class="instructions">
                <h3>Instructions:</h3>
                <ul>
                    <li><span class="glyphicon glyphicon-chevron-left"></span> - Previous button: use to go back to previous candidate</li>
                    <li><span class="glyphicon glyphicon-chevron-right"></span> - Next button: use to go to the next candidate</li>
                    <li><span class="glyphicon glyphicon-chevron-up"></span> - Upvote button: use to upvote a candidate</li>
                    <li><span class="glyphicon glyphicon-chevron-down"></span> - Downvote button: use to downvote a candidate</li>
                </ul>
            </div> -->


            <div id="profileCarousel" class="carousel slide" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div ng-class="{ 'item': true, 'active': isCurrentProfileIndex($index) }"  ng-repeat="profile in profiles">
                  <img src="{{ profile.photo }}" alt="{{ profile.name }}">
                  <div class="voting-bar">
                      <h6>Upvotes: {{ profile.upvotes }} | Downvotes {{ profile.downvotes }}</h6>
                      <a ng-click="upvoteButtonClick($index)">
                        <span class="glyphicon glyphicon-chevron-up upvoteButton" aria-hidden="true"></span>
                        <span class="sr-only">Upvote</span>
                      </a>
                      <a ng-click="downvoteButtonClick($index)">
                        <span class="glyphicon glyphicon-chevron-down downvoteButton" aria-hidden="true"></span>
                        <span class="sr-only">Downvote</span>
                      </a>

                  </div>
                  <div class="carousel-caption">
                    <h3>{{ profile.name }}</h3>
                    <p>{{ profile.description }}</p>
                    <div class="soundcloud-player">
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/245883793&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#profileCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#profileCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>







        </div>
    </div>
</div>