<div class="row" ng-show="test">
  <div class="col-lg-12">
    <div class="bs-component">
      <div class="alert alert-dismissible alert-{{ alertType }}">
        <p>{{ result }}</p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <p>Please fill in the blanks to create an account</p>

  <form ng-submit="handleRegisterBtnClick()" role="form">
    <div class="form-group">
      <label>email</label>
      <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
    </div>

    <div class="form-group">
      <label>password</label>
      <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
    </div>

    <div class="form-group">
      <label>password confirmation</label>
      <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
    </div>

    <div class="form-group">
      <label>account type</label><br />
      <label class="radio-inline"><input type="radio" ng-model="registrationForm.type" value="Artist" name="type">Artist</label>
      <label class="radio-inline"><input type="radio" ng-model="registrationForm.type" value="Venue" name="type">Business</label>
      <label class="radio-inline"><input type="radio" ng-model="registrationForm.type" value="Fan" name="type">Fan</label>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Register</button>
  </form>

  <br /><br /><hr />

  <p ng-model="test"></p>
</div>

