<div class="row" ng-show="test">
  <div class="col-lg-12">
    <div class="bs-component">
      <div class="alert alert-dismissible alert-{{ alertType }}">
        <p>{{ result }}</p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <p>Sign in</p>
  <br /><br />
  <form ng-submit="handleSignInBtnClick()" role="form" ng-init="loginForm">
    <div class="form-group">
      <label>email</label>
      <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"/>
    </div>

    <div class="form-group">
      <label>password</label>
      <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
  </form>
  <br />
  <a ng-click="handleForgotPasswordLink()">Forgot password?</a>

  <div ng-show="displayPasswordResetForm">
    <form ng-submit="sendPasswordReset(passwordResetForm)" role="form">
      <div class="form-group">
        <label>enter your email address</label>
        <input type="email" name="resetPasswordEmail" ng-model="passwordResetForm.email" required="required" class="form-control"/>
      </div>
      <input type="submit" value="Request password reset">
    </form>
  </div>
</div>

